@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    max-width: 1440px;
    font-family: "Azeret Mono", monospace;
}

/* common css styles for top-section and header section button  */ 

.btn{
    padding: 15px;
    border-radius: 5px;
   
   
}


/* top section */

/* .bt1{
    font-size: 20px;
    font-weight: 600px;


} */
.top-section{
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.heading-top-section{
    margin-left:5%;

}
.button-top-section{
    margin-top:2%;
    margin-right:5%;
    width: 220px;
    height: 58px;
   
    
}



/* header section */
.header-section{
    background-color: aliceblue;
    width: 1440px;
    height: 652px;
    background-image: url("/images/Hero-bg.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}

.btn2{
    background-color: black;
    color: white;
}

/* section-2 */
.why-web-development{
    background-color: rgb(160, 233, 216);
    border-style: outset;
    height: 1395px;
    width: 1140px;
    margin:0 auto;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.why-web-development-sec-header{
    height: 115px;
    width: 852px;
    border-style: outset;
    background-color: antiquewhite;
    margin:0 auto;
   
}



/* common style sec2 */
 .subsection{
    width: 850px;
    height: 240px;
    border-style: outset;
    border-color: black;
    margin:0 auto;
}
/* section-3 my inspiration */
.inspiration{
    background-color: rgb(160, 233, 216);
    width: 1140px;
    margin:0 auto;
    border-style: outset;
    height: 775px;
    

    display: flex;
    text-align: center;

    flex-direction: column;
    justify-content: center;
    
    
  

}

.my-inspiration-heading-sec{
    background-color: rgb(160, 233, 216);
    border-style: outset;
    width: 852px;
    height: 113px;
    margin:0 auto;

}
.my-inspiration-vdo{
    border-radius: 10px;
}
/* section-4  */
.target{
    background-color: rgb(59, 63, 62);
    width: 1140px;
    height: 1437px;
    margin:0 auto;
    border-style: outset;
}
/* section-5 */
.support{
    background-color: rgb(160, 233, 216);
    width: 1140px;
    height: 313px;
    margin:0 auto;
    border-style: outset;
}
/* section-6  footer */
.footer{

    background: rgba(13, 19, 33, 0.03);
    height: 100px;
    margin:0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer-content{

    width: 1140px;
    height: 36px;

   
 

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;


}

.footer-paragraph-sec{

   
    width: 390px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.footer-paragraph{

}

.footer-icons-sec{
  
    width: 157px;
    height: 36px;
    text-align: right;
    font-size: medium;
    
}

.icon{
margin-left: 4px;
font-size:larger;
font-weight: bold;
width: 14px;
height: 29px;}
